<h1>Bookmarks</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= link_to (bookmark.title || bookmark.url), bookmark %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Bookmark', new_bookmark_path %>
